* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-padding-top: 10vh; /* Offset the scroll by the height of the fixed header */
}

body {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Header and navigation */
header {
  background: #333;
  color: #fff;
  padding: 2em 2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  top: 0;
  z-index: 1000;
}

.logo-heading {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.logo {
  max-width: 50px;
}

nav {
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}
nav ul li a:hover {
  color: #153ea7;
}

.section-title {
  margin-bottom: 32px;
  text-align: start;
  font-weight: 400;
  font-style: normal;
}

article {
  margin: 2rem 0;
  text-align: center;
}

h1 {
  font-size: 2rem;
}
/*Home section style*/
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-inline: 2em;
  height: 60vh;
}

#home p {
  font-weight: 300;
}

/*About Style*/
#about h1 {
  margin-bottom: 2rem;
}
#about-education {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
}
#about-education-item {
  display: flex;
  flex-direction: column;
}
#about-education-item .educ-desc {
  text-align: left;
  font-weight: 300;
  border-bottom: #333 solid 1px;
}
#about-education-item h3 {
  font-weight: 400;
  text-align: left;
}

p {
  font-size: 1.2rem;
}

/* Portfolio grid */
.portfolio-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  max-width: 100px;
  margin: auto;
}

.portfolio-item {
  background: #f4f4f4;
  padding: 1rem;
  border: 1px solid #ddd;
  margin: 0;
  border-radius: 20px;
}

.portfolio-item img {
  width: 100%;
  height: auto;
}
.portfolio-item p {
  text-align: start;
  font-weight: 300;
}
.portfolio-item h3 {
  text-align: start;
  font-weight: 400;
}

/*Article Stylin*/
.section-container {
  padding-inline: 4em;
  padding-block: 2em;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 2em;
}
.cards p {
  font-size: medium;
}
.card-container {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 10px;
}

/*Contact section*/
#contact {
  display: flex;
  flex-direction: column;
}
.socmed-container {
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
  gap: 1em;
}
.socmed-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-icon {
  height: 20px;
  width: 20px;
}

/* Footer */
footer {
  background: #f1f3f4;
  color: #252222;
  text-align: center;
  padding: 2em;
}

.footer-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  /* Adjust header layout */
  header {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    box-sizing: border-box;
  }

  .logo-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  /* Hide the nav menu initially on mobile */
  nav {
    flex-direction: column;
    width: 100%;
  }

  /* Show nav menu when active */
  nav .active {
    display: flex;
  }

  nav ul {
    justify-content: space-evenly;
  }

  nav ul li {
    margin: 10px 0;
  }

  /*contact section*/
  .socmed-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 2 icons per row */
    gap: 15px;
    padding-block: 0.5em;
  }

  #about-education {
    display: flex;
    flex-direction: column;
  }

  #about-education-item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #about-education-item .educ-desc {
    text-align: center;
  }
  #about-education-item h3 {
    text-align: center;
  }
  /*Article Mobile Style*/
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    gap: 1em;
  }
  .section-container {
    padding-inline: 2em;
    padding-block: 1em;
  }
  /*Home Mobile Style*/
  #home {
    height: fit-content;
    padding-block: 16px;
  }
  /*Footer Style*/
  .footer-details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
